:root {
  --bg-button: linear-gradient(45deg, #fb5607, #ffc300);
  --bg-card: linear-gradient(#0084ff, #003566);
  --bg-types: linear-gradient(#ae00ff, #f10a91);
}

body {
  padding: 0;
  box-sizing: border-box;
  background-color: #001d3d;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

.principal-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
}

.pokemon-logo {
  width: 25rem;
}

#pokemonData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#pokeId {
  width: 5rem;
  padding: 0.3rem;
  border-radius: 1rem;
  text-align: center;
}

#searchButton {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  background: var(--bg-button);
  color: white;
}

#PokemonCard {
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
  background: var(--bg-card);
  border: 3px blue solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pokem h2 {
  color: #ffc300;
  font-weight: bold;
  font-size: 1.7rem;
}

.height {
  margin: 1.5rem 0 0.5rem 0;
}

.weight {
  margin: 0.5rem 0 1.5rem 0;
}

.poke-img {
  width: 12rem;
}

.poke-types {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.poke-type {
  background: var(--bg-types);
  color: whitesmoke;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
}
